@model UsedBooks.Models.BookN

@{
    ViewBag.Title = "BookPublic";
}




<h2>BookPublic</h2>


@using (Html.BeginForm("BookPublic", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true, "请更正错误并重试。")
    <div>
        <fieldset>
            <legend>书本信息</legend>

            <div class="editor-label">
               书名
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.BookName)
                @Html.ValidationMessageFor(m => m.BookName)
              
            </div>

            <div class="editor-label">
                期望价格
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Price)
                @Html.ValidationMessageFor(m => m.Price)
                
            </div>
            <div class="editor-label">
                联系方式
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Phone)
                @Html.ValidationMessageFor(m => m.Phone)
                
            </div>


            
            <p>
                <input type="submit" value="求购"  />
            </p>
        </fieldset>
    </div>
}