@if(Request.IsAuthenticated) {
    <text>欢迎 <strong>[@Html.ActionLink(   @User.Identity.Name,"Index","BooksManager")]</strong>!
    [ @Html.ActionLink("注销", "Logout", "Admin") ]</text>
}
else {
    <text>
        <p>
                            @Html.ActionLink("登入","Login","Admin") |
                            @Html.ActionLink("开书店","Register","Admin") | 
				
				<a href="">联系我们</a>
        </p>
        <br />
      <span id="loginbutton">@Html.ActionLink("快速注册","Register","Admin") </span><b>立即 注册，拥有e店</b>
       </text> 
    @:[ @Html.ActionLink("登录", "Login", "Admin") ]
}
